* {
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    background: #1a1a1a;
    width: 80%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

h3 {
    color: #fff;
    margin: 20px 0;
}

.inputs {
    width: 50%;
}

.inputs input {
    width: 90%;
}

.inputs .Saturate,
.Contrast,
.Brightness,
.Sepia,
.Grayscale,
.Blur,
.Hue_Rotate {
    margin: 30px 0;
}

.btns {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns button {
    font-size: 1.01rem;
}

.btns button,
a {
    padding: 10px;
    border: none;
    outline: none;
    background: darkgreen;
    color: white;
    border-radius: 5px;
}

.btns button:hover,
a:hover {
    background: #417a41;
    cursor: pointer;
    text-decoration: underline;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.image {
    width: 80%;
}

.image img , canvas{
    width: 100%;
    height: 100%;
}

.upload {
    margin: 60px 0;
}

.upload input {
    display: none;
}

.upload label {
    color: #fff;
    border: 2px dashed;
    padding: 8px 20px;
    cursor: pointer;
}

.upload label:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 400px;
    }
    .inputs {
        width: 100%;
    }
    .inputs input {
        width: 100%;
    }
    .btns {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        width: 100%;
    }
    img , canvas{
        width: 100%;
    }
}
